
.form-label{
    color: white;
  font-family: 'Times New Roman', Times, serif;
  width: 130px;
  float: left;
  margin:4px;
  
}


   .form-control{
    border:3px solid black;
    border-radius: 1%;
    margin: 4px;
    
  }
  
  #title{
    font-weight:bold ;
    font-family:Georgia, 'Times New Roman', Times, serif; 
    color: white;
    border: 2px solid gray;
    border-radius: 3px;
    background-color: gray;
    font-size: larger;
    padding: 2%;
    display: block;
  }
  
  .container{
    text-align: center;
    justify-content: center;
    align-items: center;
    height:400px;
    width:370px;
    position: relative;
    margin-top: 22vh;
   margin-left: 36vw;
   background-color: gray;
   border: 2px solid gray;
   border-radius: 5px;
    
   
  }
  body{
    background-image: url('cinema3.jpg');
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(2px);
    
  }
  .btn{
    display: block;
    border: 3px solid darkblue;
    background-color: gray;
    border-radius: 4px ;
    color:white;
    justify-content: center;
    margin-top: 24px;
    margin-left: 11vw;
    width:6vw;
    height: 3vh;
    position: relative;
    
    
  
    cursor: pointer;
  }
  .redirect{
    color: white;
  }
#message{
  color: white;
}

  